.DS_Store
.terraform.lock.hcl

terraform.tfvars

.terraform
.terraform.tfvars
*.tfvars
*.tfvars.json

.infracost
.infracost/*

.terraform/*


*.tfstate
*.tfstate.*

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.infracost
provider.tf

files/*
builds/*
builds

.env

logging
logging/
*.txt
*.csv

terraform/files/*.yaml
terraform/variables.tf
terraform/providers.tf
terraform/exit_node*.tf

ansible/inventory/*
ansible/artifacts
ansible/artifacts/*
ansible/inventory
wireguard_configs
wireguard_configs/*

ansible/roles/exit_node/files/*
ansible/roles/wireguard_hub/files/*
