terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 4.4" # You can consider this to be set to version 4.4 or higher
    }
    template = {
      version = "~> 2"
    }
    local = {
      version = "~> 2"
    }
    {{ AZURE_PROVIDER }}
  }
  required_version = "~> 1.4.0"
}

