[Interface]
Address = ${exit_node_vpn_priv_ip}/32
PrivateKey = ${exit_node_priv_key}
SaveConfig = true
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -A FORWARD -o wg0 -j ACCEPT
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT
ListenPort = 50000


[Peer]
PublicKey = ${ingress_pub_key}
AllowedIPs = ${ingress_node_ip}/32, 10.10.9.0/24